div.main-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.square-container {
  // display: grid;
  // grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  // gap: 1px;
  display: flex;
  flex-wrap: wrap-reverse;
}

button.roll {
  width: 10rem;
  padding: 1rem;
  margin-top: 1rem;
}

div.bold {
  font-weight: bold;
  background-color: rgb(252, 186, 64);
}

// div.square-container {
//   display: flex;
//   margin: 1rem;
//   flex-direction: row-reverse;
//   width: auto !important;
//   & > :nth-child(odd) {
//     display: flex;
//     flex-direction: row;
//   }
//   & > :nth-child(even) {
//     display: flex;
//     flex-direction: row-reverse;
//   }
//}
