div.main-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.square-container {
  display: flex;
  flex-wrap: wrap-reverse;
}

button {
  width: 10rem;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  background-color: orange;
  border-radius: 0.5rem;
  border: none;
}

div.bold {
  font-weight: bold;
}

img.bullet {
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.5rem;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

p.winning-message {
  font-weight: bold;
  font-size: 1.5rem;
}
p.snake-ladder-message {
  font-weight: bold;
  font-size: 1.25rem;
}

// div.square-container {

// display: grid;
// grid-template: repeat(10, 1fr) / repeat(10, 1fr);
// gap: 1px;

//   display: flex;
//   margin: 1rem;
//   flex-direction: row-reverse;
//   width: auto !important;
//   & > :nth-child(odd) {
//     display: flex;
//     flex-direction: row;
//   }
//   & > :nth-child(even) {
//     display: flex;
//     flex-direction: row-reverse;
//   }
//}
