div.square {
  width: 4rem;
  height: 4rem;
  background-color: rgb(255, 250, 243);
  border: 1px solid lightgray;
  padding: 0.2rem;
  background-origin: content-box;
  // This property makes the padding be applied to the background-image too.
  position: relative;
}

img.player {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
}

img.redPiece {
  bottom: 0.2rem;
  left: 0;
}

img.bluePiece {
  bottom: 0.2rem;
  right: 0;
}

p.square-number {
  font-size: 1.25rem;
}
