div.square {
  width: 70px;
  height: 70px;
  background-color: rgb(255, 250, 243);
  border: 1px solid lightgray;
  padding: 0.7rem;
  background-origin: content-box;
}

p.square-number {
  font-size: 1.25rem;
}
